<!DOCTYPE html>
<!-- 20201206.0 -->

<!-- tells django to make static path available -->
{% load static %}
<!-- make sure the csrf key is available for post submission -->
{% csrf_token %}
<html lang="en">

<head>

   <title>jokebot demo</title>

   <!-- meta tags for those bots to read -->
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta name="description" content="a little jokebot demo page">
   <meta name="robots" content="noindex, nofollow">

   <!-- fav icons stuff would go here if we had any -->

   <!-- css includes -->
   <link id="css_main" rel="stylesheet" href="{% static 'css/main.css' %}" media="all" type="text/css">

   <!-- set viewport - mainly to keep this looking right on a mobile -->
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- javascript includes -->
   <script type = "text/javascript" src="{% static 'js/main.js' %}"></script>
   <!-- javascript that we want to have loaded before page load  -->
   <script type = "text/javascript">

      // give these global scope variables an initial value that is safer than 'undefined'
      var csrf_token  = 0; // will be loaded with hash to keep csrf protection happy
      var btn_tell    = 0; // button element used to prompt jokebot to tell a joke
      var btn_listen  = 0; // button element used to prompt jokebot to listen to a joke
      var btn_submit  = 0; // button element used to submit user input during joke interaction
      var error_text  = 0; // someplace to put the bad news
      var notice_text = 0; // someplace to put user help/instructions
      var input_text  = 0; // user text input

      // these consts for human readable interaction state
      // default is NONE
      // when user is telling a joke, state is LISTEN
      // when jokebot is telling a joke, state is TELL
      // in the case of recoverable error, state is FAULT
      // in the case of unrecoverable error, state is FATAL
      const NONE   = 0;
      const TELL   = 1;
      const LISTEN = 2;
      const FAULT  = 3;
      const FATAL  = 4;

      var interaction_state = NONE;

      // these consts are used to track the progress of either
      // telling or hearing the knock knock joke.
      const KK_NONE           = 0;
      const KK_INIT           = 10;
      const KK_INIT_RESPONSE  = 11;
      const KK_SETUP          = 12;
      const KK_SETUP_RESPONSE = 13;
      const KK_PUNCHLINE      = 14;
      const KK_APPLAUSE       = 15;

      var stage = KK_NONE;

      function init_page()
      {
         csrf_token  = document.querySelector( "[name=csrfmiddlewaretoken]" ).value;
         error_text  = document.getElementById( "jbd_error" );
         notice_text = document.getElementById( "jbd_notice" );
         input_text  = document.getElementById( "jbd_input" );
         btn_tell    = document.getElementById( "jbd_tell" );
         btn_listen  = document.getElementById( "jbd_listen" );
         btn_submit  = document.getElementById( "jbd_submit" );

         /*
         pull count of joke models so we
	 know if we may tell a joke or not
	 display buttons appropriately
         */
         jbd_joke_count( csrf_token, btn_tell );

	 // always enable joke-bot listening on page load
         btn_listen.style.display = "block";

      }

   </script>

</head>

<body onload="init_page();">

  <center>
  <h1 id="jokebot_header">Is This a Joke?</h1>

  <!--
  todo add an onResize Handler to chose intelligent
  form geometry based on display size and shape
  -->

  <form id="jbd_frm" style="width: 85%;">
  <!--
  TODO put basic help here, explaining the
  bot's behaviour and limitations
  -->
  <span id="jbd_error" class="txt_display"></span>
  <div class="clearing_div"></div>
  <span id="jbd_0" class="txt_display_t"></span>
  <div class="clearing_div"></div>
  <span id="jbd_1" class="txt_display_l"></span>
  <div class="clearing_div"></div>
  <span id="jbd_2" class="txt_display_t"></span>
  <div class="clearing_div"></div>
  <span id="jbd_3" class="txt_display_l"></span>
  <div class="clearing_div"></div>
  <span id="jbd_4" class="txt_display_t"></span>
  <div class="clearing_div"></div>
  <span id="jbd_5" class="txt_display_l"></span>
  <div class="clearing_div"></div>
  <span id="jbd_notice" class="txt_display"></span>
  <input id="jbd_input" class="txt_submit" type="text" style="width: 90%">
  <div id="jbd_submit" class="btn_submit" onclick="jbd_submit();">s u b m i t</div>
  <div id="jbd_tell" class="btn_submit" onclick="jbd_tell();">click here and I tell you a joke</div>
  <div id="jbd_listen" class="btn_submit" onclick="jbd_listen();">click to tell joke-bot a joke</div>
  </form>

  </center>

</body>

</html>
